#wrapper{
    width: 115px;
    height: 115px;
    border: 3px solid white;
    position: relative;
}

#wrapper div{
    width: 50px;
    height: 50px;
}
.box-1{
    border: 3px solid red;
    background-color:red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.box-2{
    border: 3px solid blue;
    background-color: blue;
    margin: auto;
    margin-top: 25%;
}

.box-3{
    border: 3px solid green;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}