body{
    max-width: 1280px;
    margin: 0;
}
.header{
    background-color:coral;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    padding: 20px;
    font-size: 30px;
}

.main{
    border: 3px solid yellow;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}